<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>ACCESSRECORD</h1>
        <table border="'3px">
            <tr>
                <th>name</th>
                <th>date</th>
                <th>author</th>
                <th>email</th>
            </tr>
        {% for to in QSACR %}

            <tr>
                <td>{{ to.name}}</td>
                <td>{{ to.date}}</td>
                <td>{{ to.author}}</td>
                <td>{{ to.email}}</td>

            </tr>
        {% endfor %}
        </table>
    </center>
    
</body>
</html>